header {
    background-image: linear-gradient(to top, #20308B, #1EB0E5);
    color: white;
    font-family: sans-serif;
}

    .escola {
        background-image: linear-gradient(#E7DDBB,#002B8D);

        color: white;
        font-size: 21px;
        padding: 300px 250px;
        font-family: sans-serif;
    }

    .escola-titulo {
        padding: 24px 0;
    }
